body {
    padding-top: 90px;
}

.signin-box {
    padding: 20px 25px 15px;
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
}

.signin-box h2 {
    font-size: 16px;
    font-weight: normal;
    line-height: 17px;
    height: 16px;
    margin: 0 0 19px;
}

.signin-box input[type=checkbox] {
    vertical-align: bottom;
  }

.signin-box input[type=text],
.signin-box input[type=password] {
    width: 100%;
    font-size: 15px;
    color: black;
    line-height: normal;
    height: 32px;
    margin: 0 0 20px;
    box-sizing: border-box;
}

.signin-box input[type=submit] {
    margin: 0 20px 15px 0;
}

.signin-box label {
    color: #222;
    margin: 0 0 5px;
    display: block;
    font-weight: bold;
    font-size: 13px;
}

.signin-box label.remember {
    display: inline-block;
    vertical-align: top;
    margin: 9px 0 0;
    line-height: 1;
    font-size: 13px;
}

.signin-box .remember-label {
    font-weight: normal;
    color: #666;
    line-height: 0;
    padding: 0 0 0 5px;
}

.signin-box ul {
    list-style: none;
    line-height: 17px;
    margin: 0;
    padding: 0;
}

/* media queries */
/* large desktop */
@media (min-width: 1200px) {
    .signin {
        width: 50%;
        margin: 0 auto;
        margin-top: 100px;
    }
}

/* portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .signin {
        width: 80%;
        margin: 0 auto;
        margin-top: 100px;
    }
}

/* landscape phone to portrait tablet */
@media (max-width: 767px) {
	.signin {
	    width: 90%;
	    margin: 0 auto;
	    margin-top: 100px;
	}
}

/* landscape phones and down */
@media (max-width: 480px) {
	.signin {
	    margin: 0 auto;
	}
}